@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model DrinkManageMainVM
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/drinkmanage.css" runat="server" asp-append-version="true">
    <script src="~/assets/js/drinkmanage.js" runat="server" asp-append-version="true"></script>
    @* <script src="~/assets/js/DrinkInfo.js" runat="server" asp-append-version="true"></script> *@
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Drink Manage</title>
</head>
<body>
    @if (TempData["msg"] != null)
    {
        @Html.Raw(TempData["msg"]);
    }
    <div class="qun-l">
        <div class="div">
            <!--bar-->
            @* <div class="horizontal-bar">
                <div class="option__holder">
                    <a href="" class="text-wrapper-2">Trang chủ</a>
                    <a href="" class="text-wrapper-2">Quản lí khách hàng</a>
                    <a href="" class="text-wrapper-2">Quản lí nhân viên</a>
                    <a href="" class="text-wrapper-2">Quản lí thức uống</a>
                </div>
                <a href="" class="account__name">Xin chào, Nguyễn Hữu Khoa</a>
            </div>

            <div class="vertical-bar">
                <img class="group" src="./assets/img/nav-bar/Group1.png" />
                <div class="btn__holder">
                    <button class="component __main--btn" id="add_prd">Thêm thức uống</button>
                    <button class="component __main--btn" id="add_ctg">Thêm danh mục</button>
                </div>
                <div class="text-wrapper-6">Quản lí thức uống</div>
            </div> *@
            @await Html.PartialAsync("_ManageBars", TempData["Check"])
            <!--bar-->

            <div class="drink__holder" id="dholder__js">
                <div class="text-wrapper">Quản lí thức uống</div>
                <input type="text" class="search-bar search-bar--input" id="search_js" placeholder="Tìm kiếm thức uống" onkeydown="search()">
                <!-- category board -->
                <div class="Rectangle18">
                    <ul id="drinkList">
                        <li class="MenuHiNTI">Menu hiện tại</li>
                        @foreach(var item in Model.addModel.categories)
                        {
                            <button class="DrinkName" id="drink3">@item.CgrName<div class="number">@Model.products.Count(p => p.CgrId == item.CgrId && p.PrdVisible == true)</div></button>
                        }
                        
                    </ul>
                </div>
                <div class="drinkListHolder">
                 <!-- 1 category -->
                 @foreach(var item in Model.addModel.categories)
                    {
                        <div class="CategoryName">
                            <div>@item.CgrName</div>
                            <div class="holder__main">
                        @foreach(var item2 in Model.products.Where(p => p.CgrId == item.CgrId && p.PrdVisible == true))
                        {
                                    if(item2 != null)
                                    {
                                    <div class="Drinkunit">
                                            <button class="Drinkbox" id="drink_btn" onclick="Info(@item2.PrdId,'@item2.PrdName', @item2.PrdPrice, @item2.PrdStatus, '/@item2.PrdImage','@item2.PrdDesc')">
                                            <img class="Imageholder" src="/@item2.PrdImage"/>
                                            <div class="holder__1">
                                                    <div class="BoxTitle">@item2.PrdName</div>
                                                <div class="price">@item2.PrdPrice</div>
                                            </div>
                                        </button>
                                        </div>
                                    }
                                    else
                                    {
                                    <br />
                                    <div>Không có</div>
                                        
                                    }
                        }
                            </div>
                        </div>
                    }
                    <!-- 1 category -->
                </div>
                <!-- category board -->
            </div>
        </div>
    </div>

    @* add cate *@
    @await Html.PartialAsync("_CategoryAdd", Model.addCategory)
    @* add cate *@

    @* add *@
    @await Html.PartialAsync("_AddDrink", Model.addModel)
    @* add *@

    @* DrinkInfo *@
    
    @await Html.PartialAsync("_DrinkInfo", Model.addModel)
    
    @* DrinkInfo *@

    @* Update *@

    @* Update *@


</body>
</html>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#search_js").keyup(function () {
            var searchText = $("#search_js").val().toLowerCase();
            $(".holder__main").each(function () {
                $(this).children(".Drinkunit").each(function () {
                    if (!Contains($(this).children(".Drinkbox").children(".holder__1").children(".BoxTitle").text().toLowerCase(), searchText)) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });


            });
        });


    });


</script>
