@model AlphaShop.Models.ProductModel
@using AlphaShop.Data
@using AlphaShop.Models
@{
    ViewData["Title"] = "Info";

}
@inject AccountService AccountService
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/drinkinfo.css" runat="server" asp-append-version="true" />
    <link href="~/assets/css/footer.css" rel="stylesheet" runat="server" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <link href="~/assets/css/comment.css" rel="stylesheet" runat="server" asp-append-version="true" />
    <script src="~/assets/js/DrinkInfoComment.js" runat="server" asp-append-version="true"></script>
    <title>Home</title>
</head>
<body>
    <input type="hidden" id="optsize" name="optsize" value="">
    <input type="hidden" id="opttype" name="opttype" value="">

    <!-- #done-->
    @* <form method="post" asp-controller="Cart"> *@
    <!--#drinkChoice-->
    <img class="DrinkImg" src="~/@Model.product.PrdImage" />
    <div class="DescChoice">

        <div class="DrinkName">@Model.product.PrdName</div>
        <div class="Size">Size:</div>
        <div class="option_btn" style="width: 45px; height: 30px; left: 831px; top: 75px;">
            <label class="size_label">
                <input type="radio" name="size" value="1" class="size_radio">
                <span class="size_box">M</span>
            </label>
        </div>
        <div class="option_btn" style="width: 45px; height: 30px; left: 896px; top: 75px;">
            <label class="size_label">
                <input type="radio" name="size" value="2" class="size_radio">
                <span class="size_box">X</span>
            </label>
        </div>
        <div class="option_btn" style="width: 45px; height: 30px; left: 961px; top: 75px;">
            <label class="size_label">
                <input type="radio" name="size" value="3" class="size_radio">
                <span class="size_box">XL</span>
            </label>
        </div>

        <div class="Loai">Loại:</div>
        <div class="option_btn" style="width: 183px; height: 30px; left: 831px; top: 130px;">
            <label class="size_label">
                <input type="radio" name="loai" value="1" class="size_radio">
                <span class="size_box" id="boxdacbiet">Đá riêng </span>
            </label>
        </div>
        <div class="option_btn" style="width: 217px; height: 30px; left: 1033px; top: 130px;">
            <label class="size_label">
                <input type="radio" name="loai" value="2" class="size_radio">
                <span class="size_box" id="boxdacbiet">Đá chung</span>
            </label>
        </div>
        @*desc*@
        <div class="Ghichu">Mô tả đồ uống:</div>
        <div class="ghichu_box">
            @Model.product.PrdDesc
        </div>
        @*desc*@
        <form class="option_btn" method="post" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.product.PrdId" style="width:200px; height: 46px; left: 750px; top: 382px;">
            <input type="hidden" name="optsize" id="optsize_addtocart" value="">
            <input type="hidden" name="opttype" id="opttype_addtocart" value="">
            <button type="submit" class="order_box">ĐẶT HÀNG NGAY</button>
        </form>

        <form class="option_btn" method="post" asp-controller="Cart" asp-action="UpdateCart" asp-route-id="@Model.product.PrdId" style="width: 200px; height: 46px; left: 926px; top: 382px;">
            <input type="hidden" name="optsize" id="optsize_updatecart" value="">
            <input type="hidden" name="opttype" id="opttype_updatecart" value="">
            <button type="submit" class="order_box">THÊM VÀO GIỎ</button>
        </form>

        <div class="Rectangle21" style="width: 100%; height: 40px; left: 0px; top: 799px; position: absolute; background: #8C8A8A"></div>
        <div class="CustomerReview" style="left: 208px; top: 809px; position: absolute; color: white; font-size: 20px; font-family: JetBrains Mono; font-style: italic; font-weight: 500; line-height: 20px; word-wrap: break-word">Đánh giá của khách hàng</div>

        <div class="comment__section">
            @*flex: column*@
            @*1 comment*@
            @* <div class="comment__comp">
            <div class="voting__section">
            <button class="vote" id="up_v"></button>
            <span class="num_vote">999</span>
            <button class="vote" id="down_v"></button>
            </div>
            <div class="comment__holder-1">
            <img src="~/assets/img/user/Lmao.png" class="comment__img" />
            </div>
            <div class="comment__holder-2">
            <div class="comment__username">
            Nguyễn Hữu Khoa
            </div>
            <div class="comment__context">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ex quas repellendus, consectetur atque a! Dolorum exercitationem excepturi ipsam, amet dignissimos modi sit quasi nobis aliquid, omnis adipisci, molestias odit.
            </div>
            </div>
            </div> *@


            @foreach (Comment item in Model.product.Comments)
            {
                <div class="comment__comp">
                    @* <div class="voting__section">
                         <input type="hidden" value="@item.CtrId" />
                    <input type="hidden" value="@item.PrdId" />
                    <input type="hidden" value="@item.CmtDate" /> 
                        <form method=post asp-action="CommentUpvote" asp-controller="Category">
                            <input type="hidden" name="ctrId" value="@item.CtrId" />
                            <input type="hidden" name="prdId" value="@item.PrdId" />
                            <input type="hidden" name="date" value="@item.CmtDate" />
                            <button type="submit" class="vote" id="up_v"></button>
                        </form>
                        <span class="num_vote">@item.Upvote</span>
                        <form method=post asp-action="CommentDownvote" asp-controller="Category">
                            <input type="hidden" value="@item.CtrId" />
                            <input type="hidden" value="@item.PrdId" />
                            <input type="hidden" value="@item.CmtDate" />
                            <button type="submit" class="vote" id="down_v"></button>
                        </form>
                    </div> *@
                    <div class="comment__holder-1">
                        <img src="~/@item.Ctr.CtrImage" class="comment__img" />
                    </div>
                    <div class="comment__holder-2">
                        <div class="comment__username">
                            <span class="username">@item.Ctr.CtrUsername</span>
                            <span class="time">@item.CmtDate</span>
                        </div>
                        <div class="comment__context">
                            @item.CommentText
                        </div>
                    </div>
                </div>
            }


            @*button comment/đăng nhập*@
            <div class="comment__btn">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <button class="__main--btn" onclick="OpenComment('@Model.product.PrdId', '@Context.User.Claims.SingleOrDefault(p => p.Type == "CtrId")?.Value')">BÌNH LUẬN</button>
                    @await Html.PartialAsync("_Comment", Model.comment)
                    ;
                }
                else
                {
                    <form>
                        <button style="width: 200px;" asp-action="Login" asp-controller="Log" class="__main--btn">ĐĂNG NHẬP ĐỂ BÌNH LUẬN</button>
                    </form>
                }
            </div>
        </div>
        



        @* <form class="option_btn" style="width:200px; height: 46px; left: 524px; top: 382px;">
        <button class="order_box" asp-action="AddToCart" asp-controller="Cart" asp-route-optsize="@Model.option_size" asp-route-opttype="@Model.option_type" asp-route-id="@Model.product.PrdId">ĐẶT HÀNG NGAY</button>
        </form>
        <form class="option_btn" style="width: 200px; height: 46px; left: 700px; top: 382px;">
        <button class="order_box" asp-action="UpdateCart" asp-controller="Cart" asp-route-optsize="@Model.option_size" asp-route-opttype="@Model.option_type" asp-route-id="@Model.product.PrdId">THÊM VÀO GIỎ</button>
        </form> *@
        @* <form class="option_btn" style="width:200px; height: 46px; left: 524px; top: 382px;">
        <input type="submit" class="order_box" asp-action="AddToCart" asp-controller="Cart" text value=@Model>ĐẶT HÀNG NGAY</input>
        </form>
        <form class="option_btn" style="width: 200px; height: 46px; left: 700px; top: 382px;">
        <input type="submit" class="order_box" asp-action="UpdateCart" asp-controller="Cart" value=@Model>THÊM VÀO GIỎ</input>
        </form>
        <div class="option_btn" style="width: 289px; height: 46px; left: 0px; top: 1403px;">
        <button class="login_box" >ĐĂNG NHẬP ĐỂ NHẬN XÉT</button>
        </div>
        </div>
        <!--#drinkChoiceEnd-->
        @* </form> *@
        <!--ReviewBox-->
        @* <ul class="review-list">
        <il class="Component">
        <div class="Comment">
        <img class="Ellipse5" src="~/assets/img/review/hanabi.png" />
        <ul class="ratings">
        <img class="Star1" src="~/assets/img/review/star-1.png" />
        <img class="Star2" src="~/assets/img/review/star-1.png" />
        <img class="Star3" src="~/assets/img/review/star-1.png" />
        <img class="Star4" src="~/assets/img/review/star-1.png" />
        <img class="Star5" src="~/assets/img/review/star-1.png" />
        </ul>
        <div class="Legiahan617">legiahan617</div>
        <div class="reviewtext">Không gì tuyệt vời bằng 1 lượng caffein buổi sáng!!!</div>
        </div>
        </il>

        <il class="Component">
        <div class="Comment">
        <img class="Ellipse5" src="~/assets/img/review/hanabi.png" />
        <ul class="ratings">
        <img class="Star1" src="~/assets/img/review/star-1.png" />
        <img class="Star2" src="~/assets/img/review/star-1.png" />
        <img class="Star3" src="~/assets/img/review/star-1.png" />
        <img class="Star4" src="~/assets/img/review/star-1.png" />
        <img class="Star5" src="~/assets/img/review/star-1.png" />
        </ul>
        <div class="Legiahan617">legiahan617</div>
        <div class="reviewtext">Không gì tuyệt vời bằng 1 lượng caffein buổi sáng!!!</div>
        </div>
        </il>

        <il class="Component">
        <div class="Comment">
        <img class="Ellipse5" src="~/assets/img/review/hanabi.png" />
        <ul class="ratings">
        <img class="Star1" src="~/assets/img/review/star-1.png" />
        <img class="Star2" src="~/assets/img/review/star-1.png" />
        <img class="Star3" src="~/assets/img/review/star-1.png" />
        <img class="Star4" src="~/assets/img/review/star-1.png" />
        <img class="Star5" src="~/assets/img/review/star-1.png" />
        </ul>
        <div class="Legiahan617">legiahan617</div>
        <div class="reviewtext">Không gì tuyệt vời bằng 1 lượng caffein buổi sáng!!!</div>
        </div>
        </il>

        <il class="Component">
        <div class="Comment">
        <img class="Ellipse5" src="~/assets/img/review/hanabi.png" />
        <ul class="ratings">
        <img class="Star1" src="~/assets/img/review/star-1.png" />
        <img class="Star2" src="~/assets/img/review/star-1.png" />
        <img class="Star3" src="~/assets/img/review/star-1.png" />
        <img class="Star4" src="~/assets/img/review/star-1.png" />
        <img class="Star5" src="~/assets/img/review/star-1.png" />
        </ul>
        <div class="Legiahan617">legiahan617</div>
        <div class="reviewtext">Không gì tuyệt vời bằng 1 lượng caffein buổi sáng!!!</div>
        </div>
        </il>
        </ul> *@
        <!-- Trường ẩn để lưu trữ giá trị của option_size và option_type -->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Lắng nghe sự kiện click trên các radio box
                var radioButtons = document.querySelectorAll('.size_radio, .loai_radio');
                radioButtons.forEach(function (radioButton) {
                    radioButton.addEventListener('click', function () {
                        // Lấy giá trị của radio box được chọn
                        var sizeValue = document.querySelector('input[name="size"]:checked').value;
                        var loaiValue = document.querySelector('input[name="loai"]:checked').value;

                        // Cập nhật giá trị trong các trường ẩn của form AddToCart
                        document.getElementById('optsize_addtocart').value = sizeValue;
                        document.getElementById('opttype_addtocart').value = loaiValue;

                        // Cập nhật giá trị trong các trường ẩn của form UpdateCart
                        document.getElementById('optsize_updatecart').value = sizeValue;
                        document.getElementById('opttype_updatecart').value = loaiValue;
                    });
                });
            });

        </script>




        <!--ReviewBoxEnd-->
</body>