@model AlphaShop.Models.Product_Category
<html lang="vi">
@{

}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/category.css" runat="server" asp-append-version="true">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Home</title>
</head>
<body>
    <div class="drink__holder">
        <div style="position: relative; margin-bottom: 40px;">
            <div class="text-wrapper">Danh mục</div>
            <input type="text" class="search-bar search-bar--input" id="search_js" placeholder="Tìm kiếm thức uống">
        </div>
        <!-- category board -->
        <div class="Rectangle18">
            <ul id="drinkList">
                <li class="MenuHiNTI">Menu hiện tại</li>
                @foreach (var item in Model.categories)
                {
                    if (@Model.products.Count(p => p.CgrId == item.CgrId) != 0)
                    {
                        <button class="DrinkName" id="drink3">@item.CgrName<div class="number">@Model.products.Count(p => p.CgrId == item.CgrId)</div></button>
                    }

                }

            </ul>
        </div>
        <div class="drinkListHolder">
            <!-- 1 category -->
            @foreach (var item in Model.categories)
            {
                <div class="CategoryName">
                    <div>@item.CgrName</div>
                    <div class="holder__main">
                        @foreach (var item2 in Model.products.Where(p => p.CgrId == item.CgrId && p.PrdVisible == true))
                        {
                            if (item2 != null)
                            {
                                <form class="Drinkunit">
                                    <button class="Drinkbox" id="drink_btn" asp-area="" asp-controller="Category" asp-action="Drinkinfo" asp-route-id="@item2.PrdId">
                                        <img class="Imageholder" src="~/assets/img/drinklist/@item2.PrdImage">
                                        <div class="holder__1">
                                            <div class="BoxTitle">@item2.PrdName</div>
                                            <div class="price">@item2.PrdPrice</div>
                                            @* <button type="button" class="Plus"> *@
                                        </div>
                                    </button>
                                </form>
                            }
                            else
                            {
                                <br />
                                <div>Không có</div>

                            }
                        }
                    </div>
                </div>
            }
            <!-- 1 category -->
        </div>
        <!-- category board -->
    </div>
    </div>
    </div>
    @* <div class="DanhMC">Danh mục</div>
    <div class="Support">
    <div class="Ellipse4"></div>
    <img class="Ellipse3" src="https://via.placeholder.com/70x70" alt="Support Image">
    </div>
    <form class="Rectangle18">

    <ul id="drinkList">
    <li class="MenuHiNTI">Menu hiện tại</li>
    <button class="DrinkName" id = "drink1">Trà sữa<div class = "number">6</div> </button>
    <button class="DrinkName" id = "drink2">Trà<div class = "number">6</div></button>
    <button class="DrinkName" id = "drink3">Cà phê<div class = "number">6</div></button>
    </ul>

    </form> *@


    <!-- #end Danh muc-->
    <!--#Search Icon-->
    @* <div class="Rectangle19">
    <div class="Searchicon">
    <div class="Line3"></div>
    <div class="Ellipse2"></div>
    </div>
    <textarea class="inputSearch" id="inputSearch" placeholder="Tìm kiếm sản phẩm..."></textarea>
    </div>

    <div class = "categorybox">

    </div> *@
    @* <ul class="DrinkName" id="list1" style="left: 500px; top: 310px; ">
    Trà sữa:
    @foreach (var item in Model.ListProduct.Where(p => p.CgrId == 1))
    {
    <form>
    <a asp-area="" asp-action="Drinkinfo" asp-route-id="@item.PrdId">
    <li class="Drinkunit">
    <button class="Drinkbox"></button>
    <div class="BoxTitle">@item.PrdName</div>
    <div class="price">@item.PrdPrice</div>
    <img class="Imageholder" src="@item.PrdImage" />
    <input type="button" class="Plus">
    </li>
    </a>
    </form>
    }
    </ul> *@
    @*  <script>
    var drinkunits = document.querySelectorAll('#list1 .Drinkunit');
    var unitsPerRow = 4;
    var topPosition = 30;
    var leftPosition = 30;

    for (var i = 0; i < drinkunits.length; i++) {
    drinkunits[i].style.top = topPosition + 'px';
    drinkunits[i].style.left = leftPosition + 'px';

    leftPosition += 200; // Giả sử mỗi Drinkunit có chiều rộng 185px

    if ((i + 1) % unitsPerRow === 0) {
    topPosition += 265; // Giả sử mỗi Drinkunit có chiều cao 250px
    leftPosition = 30;
    }
    }
    </script> *@

    @* <ul class="DrinkName" id="list2" style="left: 500px; top: 919px; ">
    Trà:
    @foreach (var item in Model.ListProduct.Where(p => p.CgrId == 2))
    {
    <a asp-area="" asp-controller="Category" asp-action="Drinkinfo" asp-route-id="@item.PrdId">
    <li class="Drinkunit">
    <button class="Drinkbox"></button>
    <div class="BoxTitle">@item.PrdName</div>
    <div class="price">@item.PrdPrice</div>
    <img class="Imageholder" src="@item.PrdImage" />
    <button class="Plus"></button>
    </li>
    </a>
    }
    </ul> *@
    @* <script>
    var drinkunits = document.querySelectorAll('#list2 .Drinkunit');
    var unitsPerRow = 4;
    var topPosition = 30;
    var leftPosition = 30;

    for (var i = 0; i < drinkunits.length; i++) {
    drinkunits[i].style.top = topPosition + 'px';
    drinkunits[i].style.left = leftPosition + 'px';

    leftPosition += 200; // Giả sử mỗi Drinkunit có chiều rộng 185px

    if ((i + 1) % unitsPerRow === 0) {
    topPosition += 265; // Giả sử mỗi Drinkunit có chiều cao 250px
    leftPosition = 30;
    }
    }
    </script>
    <ul class="DrinkName" id = "list3" style="left: 500px; top: 1549px;">Cà phê:
    @foreach (var item in Model.ListProduct.Where(p => p.CgrId == 3))
    {
    <a asp-area="" asp-controller="Category" asp-action="Drinkinfo" asp-route-id="@item.PrdId">
    <li class="Drinkunit">
    <button class="Drinkbox"></button>
    <div class="BoxTitle">@item.PrdName</div>
    <div class="price">@item.PrdPrice</div>
    <img class="Imageholder" src="@item.PrdImage" />
    <button class="Plus"></button>
    </li>
    </a>
    }
    </ul>
    <script>
    var drinkunits = document.querySelectorAll('#list3 .Drinkunit');
    var unitsPerRow = 4;
    var topPosition = 30;
    var leftPosition = 30;

    for (var i = 0; i < drinkunits.length; i++) {
    drinkunits[i].style.top = topPosition + 'px';
    drinkunits[i].style.left = leftPosition + 'px';

    leftPosition += 200;

    if ((i + 1) % unitsPerRow === 0) {
    topPosition += 265;
    leftPosition = 30;
    }
    }
    </script>
    </div>
    <script>
    var traSuaCount = document.querySelectorAll('#list1 .Drinkunit').length;
    var traCount = document.querySelectorAll('#list2 .Drinkunit').length;
    var caPheCount = document.querySelectorAll('#list3 .Drinkunit').length;
    var drinkUnits = document.querySelectorAll('.Drinkunit');

    var traSua = document.getElementById('drink1');
    var tra = document.getElementById('drink2');
    var caPhe = document.getElementById('drink3');
    var danhMuc = document.querySelector('.DanhMC');

    var danhMucPosition = danhMuc.offsetTop;

    var list1Position = document.getElementById('list1').offsetTop;
    var list2Position = document.getElementById('list2').offsetTop;
    var list3Position = document.getElementById('list3').offsetTop;

    var scrollToTraSua = list1Position - danhMucPosition;
    var scrollToTra = list2Position - danhMucPosition;
    var scrollToCaPhe = list3Position - danhMucPosition;

    traSua.addEventListener('click', function() {
    window.scrollTo({ top: scrollToTraSua, behavior: 'smooth' });
    });

    tra.addEventListener('click', function() {
    window.scrollTo({ top: scrollToTra, behavior: 'smooth' });
    });

    caPhe.addEventListener('click', function() {
    window.scrollTo({ top: scrollToCaPhe, behavior: 'smooth' });
    });

    document.getElementById('inputSearch').addEventListener('input', function(event) {
    var searchString = event.target.value.toLowerCase(); // Chuyển đổi chuỗi nhập liệu thành chữ thường

    // Duyệt qua từng drink unit để kiểm tra xem có chứa chuỗi tìm kiếm hay không
    drinkUnits.forEach(function(drinkUnit) {
    var title = drinkUnit.querySelector('.BoxTitle').textContent.toLowerCase(); // Lấy nội dung tiêu đề của drink unit

    // Nếu tiêu đề của drink unit không chứa chuỗi tìm kiếm, ẩn nó đi, ngược lại hiển thị lại
    if (title.includes(searchString)) {
    drinkUnit.style.display = 'block'; // Hiển thị drink unit
    } else {
    drinkUnit.style.display = 'none'; // Ẩn drink unit
    }
    });
    });
    document.getElementById('drink1').querySelector('.number').textContent = traSuaCount;
    document.getElementById('drink2').querySelector('.number').textContent = traCount;
    document.getElementById('drink3').querySelector('.number').textContent = caPheCount;

    </script> *@

</body>
</html>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#search_js").keyup(function () {
            var searchText = $("#search_js").val().toLowerCase();

            $(".CategoryName").children(".holder__main").each(function () {
                $(this).children(".Drinkunit").each(function () {
                    if (!Contains($(this).children(".Drinkbox").children(".holder__1")/* .children(".BoxTitle") */.text().toLowerCase(), searchText)) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });


            });
        });
    });


</script>