<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/assets/css/orderlist.css" runat="server" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
@using AlphaShop.Data
@using System.Security.Claims
@inject AccountService AccountService
@model Ord

@{
    var name = Context.User.Identity.Name;
    var ctrImageClaim = Context.User.FindFirst("CtrImage")?.Value; // Lấy giá trị của Claim "CtrImage"

    var emailClaim = Context.User.FindFirst(ClaimTypes.Email)?.Value; // Lấy giá trị của Claim "Email"

    var phoneNumberClaim = Context.User.FindFirst(ClaimTypes.MobilePhone)?.Value; // Lấy giá trị của Claim "MobilePhone"

    var ctrPassword = Context.User.FindFirst(ClaimTypes.SerialNumber)?.Value; // Không lấy password từ Claims

    var ctrAddress = Context.User.FindFirst(ClaimTypes.StreetAddress)?.Value; // Lấy giá trị của Claim "StreetAddress"


}
<body>

    <div class="modal" id="modal1">
        <div class="modal__overlay">
        </div>
        <div class="modal__inner" id="ev_modal">
            <div class="container">
                <div class="Detail">
                    <h2>Chi tiết đơn hàng</h2>
                    <div class="user_info">Thông tin khách hàng: </div>
                    <div class="box_info">
                        <div class="user_name">
                            <div class="icon" style="margin-right: 15px;">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div>Tên người nhận: @name </div>
                        </div>
                        <!-- <div class="Vector" style="width: 20px; height: 22.64px; left: 0px; top: 0px; position: absolute; background: black"></div> -->

                        <div class="user_number">
                            <div class="icon" style="margin-right: 15px;">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            <div>Số điện thoại: @phoneNumberClaim</div>

                        </div>
                        <!-- <div class="Vector" style="width: 20px; height: 18.11px; left: 0px; top: 36.23px; position: absolute; background: black"></div> -->

                        <div class="user_addr">
                            <div class="icon" style="margin-right: 15px;">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div>Địa chỉ: @ctrAddress</div>
                        </div>

                        <!-- <div class="Vector" style="width: 20px; height: 22.64px; left: 0px; top: 67.93px; position: absolute; background: black"></div> -->
                    </div>
                    @{
                        int totalQuantity = 0; // Khởi tạo biến tổng số lượng
                    }
                    <li class="Line" id="Line"></li>
                    <div class="ThNgTinNHNg" style="left: 110px; top: 255px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: JetBrains Mono; font-weight: 700; word-wrap: break-word">Thông tin đơn hàng</div>
                    <div class="OrderInfoBox">

                        <div class="OrderRect"></div>
                        <ul class="OrderList" id="OrderList">
                            @if (Model.OrdDetails != null)
                            {
                                foreach (var item in Model.OrdDetails)
                                {
                                    if (item != null)
                                    {
                                        <li class="OrderItem">
                                            <div class="Itembox"></div>
                                            <img class="DrinkImg" id="DrinkImg" src="~/@item.Prd.PrdImage" />
                                            <div class="InfoText" id="DrinkName"> @item.Prd.PrdName </div>
                                            <div class="Price">  @item.Prd.PrdPrice  x   @item.Quantity </div>
                                            <div class="Size">@item.OptionSize</div>
                                        </li>
                                        totalQuantity += (int)item.Quantity;

                                    }

                                }
                            }



                            <!-- Các mục đơn hàng sẽ được thêm thông qua JavaScript -->
                        </ul>
                    </div>
                    <li class="Line" id="Line1"></li>
                    <div class="total__DH">
                        <li class="InfoText" id="Soluong">Số lượng: @totalQuantity cốc </li>
                        <li class="InfoText" id="TotalDrink">Tổng: </li>
                        <li class="InfoText" id="TransportCost">Phí vận chuyển:</li>
                        <li class="InfoText" id="Total">Tổng cộng:</li>
                        <li class="xxxxx" id="TotalDrinkPrice">@Model.OrdPrice$</li>
                        <li class="xxxxx" id="TransportPrice">45.000$</li>
                        <li class="xxxxx" id="TotalPrice">
                            @{
                                var totalPrice = Model.OrdPrice + 45;
                            }@totalPrice$
                        </li>
                    </div>
                    <li class="Line" id="Line2"></li>
                    <form method="post" asp-action="OrderList" asp-controller="UserInfo" class="P_btn">
                        <button class="btn1" id="close_btn">OK</button>
                    </form>
                    
                    <script>
                        var drinkunits = document.querySelectorAll('#OrderList .OrderItem');
                        var unitsPerColumn = 100;
                        var itemHeight = 100;
                        var topPosition = 0;
                        var currentColumn = 0;

                        for (var i = 0; i < drinkunits.length; i++) {
                            drinkunits[i].style.top = topPosition + 'px';

                            currentColumn++;
                            if (currentColumn === unitsPerColumn) {
                                topPosition += itemHeight;
                                currentColumn = 0;
                            }
                        }

                        window.onload = function () {
                            var itemHeight = 100; // Chiều cao của mỗi mục OrderItem
                            var topPosition = 0;

                            // Tính toán chiều cao của OrderRect dựa trên số lượng OrderItem
                            var orderRectHeight = drinkunits.length * itemHeight + 900;
                            var line = document.querySelector('.Line');
                            var line2 = document.querySelector('#Line2');
                            var pBtn = document.querySelector('.P_btn');
                            var totalDH = document.querySelector('.total__DH');

                            var lineHeight = line.offsetHeight; // Height of .Line element
                            var pBtnHeight = pBtn.offsetHeight; // Height of .P_btn element

                            // Calculate the total height of all elements above .total__DH
                            var totalAboveDH = lineHeight + pBtnHeight;

                            // Calculate the margin-top for .total__DH
                            var totalDHMarginTop = totalOrderHeight + totalAboveDH;
                            var pBtnMarginTop = totalAboveDH + totalDH.offsetHeight + 500; // Adjust 50px margin for spacing

                            var line2MarginTop = totalAboveDH + totalDH.offsetHeight + pBtnHeight + 50; // Adjust for additional spacing
                            // Thiết lập chiều cao cho OrderRect
                            var container = document.querySelector('.container');
                            var modal_body = document.querySelector('.modal__body')
                            var order_infobox = document.querySelector('.OrderInfoBox')
                            var DH = document.querySelector('.total__DH')

                            container.style.height = orderRectHeight + 'px';
                            modal_body.style.height = orderRectHeight + 'px';
                            order_infobox.style.height = orderRectHeight + 'px';
                            totalDH.style.marginTop = totalDHMarginTop + 'px';
                            pBtn.style.marginTop = pBtnMarginTop + 'px';
                            line2.style.marginTop = line2MarginTop + 'px';
                        };
                    </script>
                </div>
            </div>

        </div>
    </div>
    </body>
</html>